@media (max-width: 1400px) {
  .content-width {
    width: 1200px; }

  .home-banner h1 {
    font-size: 150px;
    line-height: 1.3; }

  .fire-drops h2 {
    font-size: 110px; }

  .fire-drops h2 span {
    width: 80px;
    height: 80px; }

  .location .bottom-left {
    width: 65%; }

  .location .bottom-right {
    width: 35%; }

  .location .left ul {
    font-size: 30px; }

  .menu-responsive .mob-menu-wrap > ul li a {
    font-size: 70px; }

  .menu-responsive .close-menu a {
    font-size: 50px; }

  .menu-responsive .mob-menu-wrap > ul {
    margin-top: 0; }

  .menu-responsive .mob-menu-wrap > ul li {
    margin-bottom: 25px; }

  .contact-banner h1 {
    font-size: 120px;
    margin-bottom: 40px;
    line-height: 1; }

  .locations-banner h1 {
    font-size: 120px;
    margin-bottom: -70px; } }
@media (max-width: 1280px) {
  .content-width {
    width: 1100px; }

  .home-banner h1 {
    font-size: 140px; }

  .fire-drops h2 {
    font-size: 100px; }

  .fire-drops h2 span {
    width: 78px;
    height: 78px; }

  .product .top {
    padding: 0; }

  .location .content-width {
    padding: 0; }

  footer .content {
    padding: 0; }

  .about-banner h1 {
    font-size: 90px; }

  .text-img h2, .img-text h2 {
    font-size: 60px; }

  .text-img .content {
    padding: 0; }

  .img-text .content {
    padding: 0; }

  .img-text figure {
    top: 0; }

  .contact-banner .form-contact {
    padding: 0; } }
@media (max-width: 1199px) {
  .content-width {
    width: 960px; }

  .top-line .logo-wrap a {
    width: 70px; }

  .top-line .info a {
    display: none; }

  .top-line .right .order a {
    font-size: 40px; }

  .top-line .right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    grid-gap: 30px; }

  .menu-responsive .close-menu a span {
    width: 35px; }

  .menu-responsive .logo-wrap {
    width: 90px; }

  .menu-responsive .mob-menu-wrap > ul a {
    font-size: 26px; }

  .home-banner figure img {
    border-radius: 90px 8px 90px 8px; }

  .home-banner figure {
    padding: 0; }

  .home-banner h1 {
    font-size: 120px; }

  .label {
    font-size: 24px; }

  .fire-drops h2 {
    font-size: 70px; }

  .fire-drops h2 span {
    width: 70px;
    height: 70px; }

  .product h2 {
    font-size: 80px; }

  .btn-default {
    font-size: 30px;
    line-height: 0.9; }

  .btn-default span {
    height: 80px; }

  .btn-default span img {
    width: 65px; }

  .btn-default span:last-child {
    width: 150px; }

  body {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -1px; }

  .product .slider-wrap .nav-wrap {
    display: none; }

  .product .slider-wrap {
    padding: 0; }

  .product-slider .swiper-slide figure a {
    height: 480px; }

  .product-slider h3 {
    font-size: 40px; }

  .product-slider .swiper-slide .wrap .label {
    font-size: 20px;
    line-height: 24px; }

  .product-slider .btn-default span {
    height: 60px; }

  .follow h2 a {
    font-size: 70px;
    line-height: 1.2; }

  .follow .slider-wrap {
    padding: 0; }

  .follow .slider-wrap .nav-wrap {
    display: none; }

  .follow .btn-wrap {
    padding: 0; }

  .follow .btn-wrap .btn-default {
    width: 400px; }

  .follow .btn-wrap .btn-default span:first-child {
    width: calc(100% - 150px); }

  .follow .btn-wrap .btn-default span:last-child {
    width: 150px; }

  .inst-slider .swiper-slide {
    border-radius: 30px; }

  .location h2 {
    font-size: 80px; }

  .full-img figure {
    height: 300px; }

  footer .footer-menu ul a, footer .bottom p {
    font-size: 26px;
    line-height: 1.2; }

  .home-banner .video-wrap {
    height: 500px; }

  .about-banner .text {
    padding: 0; }

  .about-banner h1 {
    font-size: 80px; }

  .form-contact .input-wrap input {
    height: 74px;
    line-height: 70px;
    font-size: 30px; }

  .form-contact .input-wrap-submit .btn-default span {
    height: 70px;
    min-height: 70px; }

  .location-info .title {
    font-size: 80px;
    margin-top: 50px; } }
@media (max-width: 991px) {
  .content-width {
    width: 720px; }

  .home-banner h1 {
    font-size: 90px;
    margin-top: -55px; }

  .fire-drops figure {
    width: 100%;
    margin-bottom: 30px; }

  .fire-drops .text {
    width: 100%;
    padding-top: 0; }

  .fire-drops .btn-default {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

  .product .title {
    width: 100%;
    margin-bottom: 30px; }

  .product .text {
    width: 100%;
    padding: 0; }

  .follow .title {
    padding: 0; }

  .location .left {
    width: 100%; }

  .location .right {
    width: 100%; }

  .location .bottom-left {
    width: 100%; }

  .location .bottom-right {
    width: 100%; }

  .home-banner .video-wrap {
    height: 400px; }

  .about-banner figure {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
    .about-banner figure img {
      width: 500px; }

  .about-banner .text {
    width: 100%; }

  .about-banner .label {
    text-align: center; }

  .about-banner h1 {
    text-align: center; }

  .about-banner p {
    text-align: center; }

  .top-line .open-menu a {
    font-size: 40px; }

  .text-img .text {
    width: 100%;
    margin-bottom: 30px; }

  .text-img figure {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0; }
    .text-img figure img {
      width: 500px; }

  .img-text figure {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
    .img-text figure img {
      width: 500px; }

  .img-text .text {
    width: 100%; }

  .contact-banner h1 {
    font-size: 90px; } }
@media (max-width: 767px) {
  .content-width {
    width: 540px; }

  .home-banner h1 {
    font-size: 70px;
    margin-top: -45px; }

  .location h3 {
    font-size: 30px;
    line-height: 1; }

  footer .footer-menu ul {
    grid-gap: 20px; }
    footer .footer-menu ul li {
      width: 100%;
      text-align: center; }

  footer .bottom p {
    text-align: center; }

  .home-banner .video-wrap {
    height: 300px; }

  .home-banner .video-wrap {
    border-radius: 20px 5px 20px 5px; }

  .about-banner h1 {
    font-size: 60px; }

  .text-img {
    padding: 180px 0 173px; }

  .text-img h2, .img-text h2 {
    font-size: 40px; }

  .follow h2 a {
    font-size: 50px; }

  .contact-banner h1 {
    font-size: 75px; }

  .locations-banner figure img {
    border-radius: 30px 8px 30px 8px; }

  .locations-banner h1 {
    font-size: 70px;
    margin-bottom: -40px; }

  .accordion-item {
    margin-bottom: 50px; } }
@media (max-width: 575px) {
  .content-width {
    width: 100%;
    padding: 0 10px; }

  .top-line .logo-wrap {
    width: 100px; }

  .top-line .right {
    width: calc(100% - 100px); }

  .top-line .info {
    display: none; }

  .home-banner h1 {
    font-size: 42px;
    margin-top: -30px;
    letter-spacing: -2px; }

  .fire-drops {
    padding: 50px 0; }

  .fire-drops h2 {
    font-size: 44px; }

  .fire-drops h2 span {
    width: 40px;
    height: 40px; }

  .btn-default span {
    padding: 10px 30px; }

  .fire-drops .btn-wrap {
    margin-top: 40px; }

  .product {
    padding: 50px 0 50px; }

  .product h2 {
    font-size: 50px; }

  .product .btn-wrap {
    margin-top: 50px; }

  .product-slider .swiper-slide {
    width: 300px; }

  .product-slider .swiper-slide figure a {
    height: 300px; }

  .product-slider .swiper-slide .wrap {
    border-radius: 10px 5px 10px 5px;
    padding: 15px; }

  .follow {
    padding: 50px 0; }

  .follow h2 a {
    font-size: 36px; }

  .inst-slider .swiper-slide {
    width: 300px;
    height: 300px;
    border-radius: 10px; }

  .location {
    padding: 50px 0 100px; }

  .location .content-width {
    padding: 0 10px; }

  .location h2 {
    font-size: 40px; }

  .location .left h3 {
    width: 100%;
    margin-bottom: 20px; }

  .location .left ul {
    width: 100%; }

  .location .right {
    padding: 25px; }

  .location .left {
    padding: 25px; }

  .location .left ul {
    text-align: left; }

  .location .bottom-left {
    padding: 25px; }

  .location .bottom-right {
    padding: 25px; }

  footer .bottom p {
    font-size: 20px; }

  .menu-responsive .wrap {
    padding: 50px 20px; }

  .menu-responsive .close-menu a {
    font-size: 30px; }

  .menu-responsive .close-menu {
    top: 40px;
    right: 20px; }

  .menu-responsive .mob-menu-wrap > ul li a {
    font-size: 50px; }

  .about-banner {
    padding: 190px 0 270px; }

  .about-banner figure img {
    border-radius: 20px; }

  .about-banner h1 {
    font-size: 40px; }

  .text-img figure img {
    border-radius: 20px; }

  .img-text {
    padding: 150px 0 113px; }

  .img-text figure img {
    border-radius: 20px; }

  .contact-banner h1 {
    font-size: 50px; }

  .form-contact .input-wrap {
    width: 100%; }

  .form-contact .input-wrap:nth-child(2) {
    border-left-width: 2px; }

  .form-contact .input-wrap-submit .btn-default span:last-child {
    width: 120px; }

  .form-contact .input-wrap-submit .btn-default span:first-child {
    width: calc(100% - 120px); }

  .contact-banner {
    padding: 200px 0 160px; }

  .location-info .title {
    font-size: 40px;
    margin-top: 30px; }

  .location-info + .follow {
    padding-top: 120px; }

  .locations-banner {
    padding: 160px 0 0; } }

/*# sourceMappingURL=responsive.css.map */