/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  min-width: 320px;
  position: relative;
  background: #ed1d24;
  max-width: 2500px;
  margin: auto;
  color: #fff;
  letter-spacing: -3px; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.rellax {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top;
    height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #fff;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1345px;
  margin: auto; }

h1, h2 {
  margin: 0 0 30px; }

h3 {
  margin: 0 0 30px; }

h4 {
  margin: 0 0 30px; }

h5 {
  margin: 0 0 10px; }

h6 {
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

.wpcf7 form .wpcf7-response-output {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.2;
  background: #00a0d2; }

.wpcf7 form.sent .wpcf7-response-output {
  background: #46b450; }

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: #ffb900; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

/*--------------------------------HOME-PAGE---------------------------------*/
header {
  position: relative;
  z-index: 999;
  max-height: 0; }

.top-line {
  padding-top: 30px; }
  .top-line .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-line .logo-wrap {
    width: 300px; }
    .top-line .logo-wrap a {
      display: block;
      width: 113px; }
      .top-line .logo-wrap a img {
        width: 100%;
        vertical-align: top; }
  .top-line .info {
    width: calc(100% - 700px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 95px 0 0; }
    .top-line .info a {
      display: block; }
      .top-line .info a img {
        vertical-align: top; }
  .top-line .right {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 3px; }
    .top-line .right .order a {
      font-size: 68px;
      font-weight: 900;
      line-height: 98px;
      color: #000;
      display: inline-block; }
      .top-line .right .order a img {
        vertical-align: top; }
      .top-line .right .order a:hover {
        color: #fff; }
  .top-line .open-menu a {
    display: inline-block; }
    .top-line .open-menu a img {
      vertical-align: top; }
    .top-line .open-menu a:hover img {
      -webkit-filter: invert(1);
              filter: invert(1); }

.home-banner {
  padding: 200px 0 150px;
  position: relative; }
  .home-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .home-banner figure {
    padding: 0 14px; }
    .home-banner figure img {
      width: 100%;
      border-radius: 160px 8px 160px 8px; }
  .home-banner .video-wrap {
    height: 742px;
    width: 100%;
    overflow: hidden;
    border-radius: 160px 8px 160px 8px; }
    .home-banner .video-wrap video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .home-banner h1 {
    margin: -90px 0 0;
    font-size: 160px;
    font-weight: 900;
    line-height: 231px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -6px;
    padding: 0 35px 0 0;
    position: relative;
    z-index: 10; }
  .home-banner .content {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg); }

.fire-drops {
  position: relative;
  padding: 89px 0 125px;
  background: #3f3f3f; }
  .fire-drops .bg {
    top: -150px; }
    .fire-drops .bg:before {
      position: absolute;
      top: 105px;
      height: 300px;
      content: '';
      -webkit-transform: rotate(2.5deg);
              transform: rotate(2.5deg);
      background: #3f3f3f;
      width: 200%;
      left: -20%; }
  .fire-drops .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .fire-drops figure {
    width: 46.5%; }
    .fire-drops figure img {
      width: 100%;
      border-radius: 64px; }
  .fire-drops .text {
    width: 46.5%;
    padding-top: 10px; }
  .fire-drops h2 {
    font-size: 128px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 35px; }
    .fire-drops h2 span {
      display: inline-block;
      width: 88px;
      height: 88px;
      background: url("../img/icon-2.svg") no-repeat center;
      background-size: contain;
      margin: 0 5px; }
  .fire-drops p {
    margin-bottom: 30px; }
  .fire-drops .btn-default {
    width: 100%; }
  .fire-drops .btn-wrap {
    margin-top: 70px; }

.label {
  margin-bottom: 10px;
  color: #ed1d24;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1px; }

.btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid white;
  color: #ed1d24;
  font-size: 48px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  font-style: italic; }
  .btn-default:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url("../img/img-3.jpeg") no-repeat center;
    background-size: cover; }
  .btn-default:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .btn-default span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 64px;
    position: relative;
    z-index: 10;
    height: 134px; }
    .btn-default span img {
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
  .btn-default span:first-child {
    border-right: 2px solid white; }
  .btn-default span:last-child {
    width: 224px;
    padding: 10px; }
  .btn-default:hover img {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  .btn-default:hover:after {
    background: #000; }

.product {
  padding: 124px 0 131px;
  background: #a71718;
  overflow: hidden; }
  .product .top {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 115px; }
  .product .title {
    width: 48%; }
  .product .text {
    width: 45.5%;
    padding-top: 50px; }
  .product .label {
    color: #000;
    margin-bottom: 10px; }
  .product h2 {
    font-size: 128px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase; }
  .product p {
    letter-spacing: -1px;
    margin-bottom: 30px; }
  .product .btn-wrap {
    margin-top: 70px; }
  .product .slider-wrap {
    position: relative;
    padding-left: 115px; }
    .product .slider-wrap .nav-wrap {
      position: absolute;
      top: 205px;
      left: -15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      z-index: 10;
      width: 96px;
      grid-gap: 32px; }
      .product .slider-wrap .nav-wrap > div {
        border: 2px solid white;
        width: 96px;
        height: 96px;
        border-radius: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: 0; }
        .product .slider-wrap .nav-wrap > div:hover {
          background: #fff; }
          .product .slider-wrap .nav-wrap > div:hover img {
            content: url("../img/icon-6.svg"); }
        .product .slider-wrap .nav-wrap > div:after {
          display: none; }
      .product .slider-wrap .nav-wrap .swiper-button-next img {
        -webkit-transform: scale(-1, 1);
                transform: scale(-1, 1); }
    .product .slider-wrap:after {
      /*position: absolute;
      top: -10px;
      bottom: -10px;
      right: 0;
      content: '';
      width: 10000px;
      background: rgb(167, 23, 24);*/ }

.btn-red {
  color: #000; }
  .btn-red:before {
    background: url("../img/img-4.png") no-repeat center;
    background-size: cover; }
  .btn-red:after {
    background: rgba(167, 23, 24, 0.3); }
  .btn-red:hover:after {
    background: #a71718; }

.product-slider {
  overflow: visible; }
  .product-slider .swiper-slide {
    width: 430px; }
    .product-slider .swiper-slide figure {
      width: 100%;
      overflow: hidden;
      margin-bottom: 60px; }
      .product-slider .swiper-slide figure a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 640px; }
        .product-slider .swiper-slide figure a img {
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          -webkit-transform-origin: center;
                  transform-origin: center;
          max-height: 100%; }
        .product-slider .swiper-slide figure a:hover img {
          -webkit-transform: scale(1.02);
                  transform: scale(1.02); }
    .product-slider .swiper-slide .wrap {
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      border-radius: 48px 8px 48px 8px;
      background: black;
      padding: 27px 48px; }
      .product-slider .swiper-slide .wrap .label {
        color: #ed1d24;
        margin-bottom: 7px;
        font-size: 24px;
        line-height: 32px; }
  .product-slider h3 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase; }
    .product-slider h3 a {
      display: inline-block;
      word-break: break-all; }
      .product-slider h3 a:hover {
        opacity: 0.7; }
  .product-slider .btn-wrap {
    margin-top: 0 !important; }
  .product-slider .btn-default {
    width: 100%;
    color: #ed1d24;
    font-style: italic; }
    .product-slider .btn-default span {
      height: 98px;
      padding: 10px 32px; }
  .product-slider .swiper-pagination-bullet {
    display: none; }
  .product-slider .btn-default span:last-child {
    width: 112px; }
  .product-slider .btn-default span:first-child {
    width: calc(100% - 112px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .product-slider .btn-red:after {
    background: rgba(0, 0, 0, 0.3); }
  .product-slider .btn-red:before {
    background: url(../img/img-6.png) no-repeat center;
    background-size: cover; }
  .product-slider .btn-red:hover:after {
    background: black; }
  .product-slider .swiper-slide-white .wrap {
    background: #fff; }
  .product-slider .swiper-slide-white h3 {
    color: #000;
    border-color: #000; }
    .product-slider .swiper-slide-white h3 a {
      color: #000; }
  .product-slider .swiper-slide-white .btn-red:before {
    background: url(../img/img-7.png) no-repeat center;
    background-size: cover; }
  .product-slider .swiper-slide-white .btn-red {
    border-color: #000; }
    .product-slider .swiper-slide-white .btn-red span {
      border-color: #000; }
  .product-slider .swiper-slide-white .btn-red:after {
    background: rgba(255, 255, 255, 0.3); }
  .product-slider .swiper-slide-white .btn-red:hover:after {
    background: white; }

.follow {
  position: relative;
  padding: 123px 0 127px;
  overflow: hidden; }
  .follow .title {
    padding: 0 115px; }
  .follow .label {
    margin-bottom: 5px;
    color: black; }
  .follow h2 {
    margin-bottom: 41px; }
    .follow h2 a {
      color: #a71718;
      font-size: 96px;
      font-weight: 900;
      line-height: 112px;
      letter-spacing: -2px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block; }
      .follow h2 a:hover {
        opacity: 0.7; }
  .follow .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .follow .bg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255, 0.9); }
  .follow .slider-wrap {
    position: relative;
    padding-left: 115px; }
    .follow .slider-wrap .nav-wrap {
      position: absolute;
      top: 55px;
      left: -15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      z-index: 10;
      width: 96px;
      grid-gap: 32px; }
      .follow .slider-wrap .nav-wrap > div {
        border: 2px solid #a71718;
        width: 96px;
        height: 96px;
        border-radius: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: 0; }
        .follow .slider-wrap .nav-wrap > div:after {
          display: none; }
        .follow .slider-wrap .nav-wrap > div:hover {
          background: #a71718; }
          .follow .slider-wrap .nav-wrap > div:hover img {
            content: url("../img/icon-5.svg"); }
      .follow .slider-wrap .nav-wrap .swiper-button-next img {
        -webkit-transform: scale(-1, 1);
                transform: scale(-1, 1); }
  .follow .btn-wrap {
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 115px; }
    .follow .btn-wrap .btn-default {
      width: 634px; }
      .follow .btn-wrap .btn-default span:first-child {
        width: calc(100% - 214px);
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }

.inst-slider {
  overflow: visible; }
  .inst-slider .swiper-slide {
    width: 336px;
    height: 336px;
    border-radius: 48px;
    overflow: hidden; }
    .inst-slider .swiper-slide a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100%; }
      .inst-slider .swiper-slide a img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .inst-slider .swiper-slide a:hover img {
        -webkit-transform: scale(1.02);
                transform: scale(1.02); }

.btn-trans {
  border-color: #000; }
  .btn-trans span {
    border-color: #000 !important; }
  .btn-trans:before {
    background: transparent; }
  .btn-trans:after {
    background: transparent; }
  .btn-trans:hover:after {
    background: #fff; }

.location {
  padding: 123px 0 126px;
  background: #000; }
  .location .label {
    margin-bottom: 8px; }
  .location h2 {
    margin-bottom: 44px;
    font-size: 128px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #fff; }
  .location .content-width {
    padding: 0 115px; }
  .location .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 2px solid white;
    background: url("../img/bg-3.png") no-repeat center;
    background-size: cover; }
  .location .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 53%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 25px 32px 20px; }
    .location .left h3 {
      width: 45%; }
    .location .left ul {
      position: relative;
      top: -2px;
      width: 55%;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      text-align: right;
      letter-spacing: -1px; }
      .location .left ul li {
        margin-bottom: -2px; }
      .location .left ul li:last-child {
        margin-bottom: 0; }
  .location .right {
    border-bottom: 2px solid white;
    width: 47%;
    padding: 32px; }
    .location .right img {
      width: 100%;
      vertical-align: top; }
  .location .bottom-left {
    border-right: 2px solid white;
    width: 71%;
    padding: 24px 32px; }
    .location .bottom-left h3 {
      letter-spacing: -2px; }
  .location .bottom-right {
    width: 29%;
    padding: 20px 32px; }
  .location h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    margin: 0; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  padding: 0;
  background: #ed1d24;
  height: 56px;
  line-height: 54px;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
  border: 1px solid #ed1d24;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btn img {
    margin-left: 10px;
    position: relative;
    vertical-align: top;
    top: 0; }
  .btn:hover {
    background: #000;
    color: #ed1d24; }
    .btn:hover img {
      -webkit-filter: brightness(0) saturate(100%) invert(9%) sepia(90%) saturate(5962%) hue-rotate(353deg) brightness(130%) contrast(86%);
              filter: brightness(0) saturate(100%) invert(9%) sepia(90%) saturate(5962%) hue-rotate(353deg) brightness(130%) contrast(86%); }

.full-img figure {
  height: 460px; }
.full-img .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

footer {
  position: relative; }
  footer .content {
    padding: 0 115px; }
  footer .wrap {
    background: rgba(255, 255, 255, 0.9);
    padding: 48px 0 30px;
    position: relative;
    z-index: 2; }
  footer .logo-wrap {
    margin-bottom: 55px; }
    footer .logo-wrap img {
      width: 100%;
      vertical-align: top; }
  footer .footer-menu {
    margin-bottom: 55px; }
    footer .footer-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      footer .footer-menu ul a {
        color: #ed1d24;
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -2px;
        text-align: left;
        text-transform: uppercase; }
        footer .footer-menu ul a:hover {
          color: #000; }
  footer .bottom {
    padding-top: 27px;
    border-top: 2px solid #ed1d24; }
    footer .bottom p {
      color: #ed1d24;
      font-size: 32px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -1.2px;
      text-align: left;
      text-transform: uppercase; }

.is-menu {
  overflow: hidden; }

.fancybox-bg {
  background: transparent; }

.fancybox-slide--html {
  overflow: hidden; }

.menu-responsive {
  width: 100%;
  background: transparent;
  background-size: cover;
  padding: 0;
  overflow: hidden auto;
  margin: 0;
  vertical-align: top;
  position: absolute;
  height: auto;
  max-height: 100%;
  right: -100vw;
  top: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .menu-responsive:after {
    content: "";
    display: table;
    clear: both; }
  .menu-responsive .wrap {
    padding: 50px 50px 100px;
    width: 30vw;
    float: right;
    background: #000;
    min-height: 100vh; }
  .menu-responsive .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px; }
    .menu-responsive .close-menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 5px; }
      .menu-responsive .close-menu a span {
        position: relative;
        width: 50px;
        height: 3px;
        background: #fff;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 11px;
        display: block; }
      .menu-responsive .close-menu a span:last-child {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 8px; }
      .menu-responsive .close-menu a:hover span {
        background: #ed1d24; }
  .menu-responsive .fancybox-close-small {
    display: none; }
  .menu-responsive .mob-menu-wrap {
    margin-bottom: 25px; }
    .menu-responsive .mob-menu-wrap > ul {
      display: block; }
      .menu-responsive .mob-menu-wrap > ul li {
        margin-bottom: 30px; }
      .menu-responsive .mob-menu-wrap > ul a {
        color: #ed1d24;
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -2px;
        text-align: left;
        text-transform: uppercase; }
        .menu-responsive .mob-menu-wrap > ul a:hover {
          color: #fff; }
      .menu-responsive .mob-menu-wrap > ul li:last-child {
        margin-bottom: 0; }
  .menu-responsive .logo-wrap {
    width: 150px;
    margin: 0 0 40px; }
    .menu-responsive .logo-wrap img {
      vertical-align: top;
      width: 100%; }

.is-menu .menu-responsive {
  right: 0; }

.location .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.menu-responsive .wrap {
  width: 100%; }

.menu-responsive .close-menu a {
  color: #ed1d24;
  font-size: 68px;
  font-weight: 900;
  line-height: 98px;
  letter-spacing: -2px;
  text-align: right;
  text-transform: uppercase; }
  .menu-responsive .close-menu a:hover {
    color: #fff; }

.menu-responsive .close-menu {
  width: auto;
  height: auto;
  top: 72px;
  right: 48px; }

.menu-responsive .mob-menu-wrap > ul li {
  text-align: center;
  margin-bottom: 16px; }
  .menu-responsive .mob-menu-wrap > ul li a {
    color: white;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -2px;
    text-align: left;
    text-transform: uppercase; }
    .menu-responsive .mob-menu-wrap > ul li a:hover {
      color: #ed1d24; }

.menu-responsive .mob-menu-wrap > ul {
  margin-top: -50px;
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg); }

/*-------------------------------END-HOME-PAGE---------------------------------*/
/*-------------------------------ABOUT-PAGE---------------------------------*/
.about-banner {
  position: relative;
  padding: 240px 0 270px; }
  .about-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .about-banner .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about-banner figure {
    width: 46.5%; }
    .about-banner figure img {
      width: 100%;
      border-radius: 64px; }
  .about-banner .text {
    width: 46.5%;
    padding-top: 12px; }
  .about-banner .label {
    margin-bottom: 10px; }
  .about-banner h1 {
    color: white;
    font-size: 128px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -3px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .about-banner p {
    letter-spacing: -1px;
    color: #fff; }

.top-line .open-menu a {
  color: #ed1d24;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -2px;
  text-align: right; }
  .top-line .open-menu a:hover {
    color: #fff; }

.text-img {
  padding: 248px 0 173px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-top: -217px; }
  .text-img:before {
    position: absolute;
    top: 50px;
    height: 300px;
    content: '';
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
    background: #000;
    width: 200%;
    left: -20%; }
  .text-img:after {
    position: absolute;
    height: 300px;
    content: '';
    background: #000;
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
    left: -15%;
    bottom: 60px;
    width: calc(100% + 30%); }
  .text-img .bg {
    top: 150px;
    bottom: 150px;
    background: #000; }
  .text-img .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 115px; }
  .text-img .text {
    width: 61%; }
  .text-img figure {
    width: 28.5%;
    position: relative;
    top: -14px; }
    .text-img figure img {
      width: 100%;
      border-radius: 64px; }
  .text-img h2 {
    color: white;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -3px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 29px; }
  .text-img p {
    letter-spacing: -1px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; }
  .text-img .label {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 7px; }
  .text-img .btn-wrap {
    margin-top: 56px; }

.btn-min-h span {
  height: auto;
  min-height: 98px; }

.btn-black:before {
  opacity: 0; }
.btn-black:hover:before {
  opacity: 1; }
.btn-black:hover:after {
  background: rgba(0, 0, 0, 0.7); }

.img-text {
  padding: 213px 0 113px;
  margin-top: -100px; }
  .img-text .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 115px; }
  .img-text figure {
    width: 46%;
    position: relative;
    top: -12px; }
    .img-text figure img {
      width: 100%;
      border-radius: 64px; }
  .img-text .text {
    width: 46%; }
  .img-text .label {
    color: #000;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1; }
  .img-text h2 {
    margin-bottom: 30px;
    color: white;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -3px;
    text-align: left;
    text-transform: uppercase; }
  .img-text p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px; }

.img-text .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*------------------------------END-ABOUT-PAGE---------------------------------*/
/*------------------------------CONTACT-PAGE---------------------------------*/
.contact-banner {
  padding: 200px 0 221px;
  position: relative;
  z-index: 4;
  margin-bottom: -150px;
  overflow: hidden; }
  .contact-banner:after {
    position: absolute;
    height: 300px;
    content: '';
    background: #000;
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
    left: -15%;
    bottom: 60px;
    width: calc(100% + 30%); }
  .contact-banner .bg {
    background: #000;
    bottom: 150px; }
  .contact-banner h1 {
    color: white;
    font-size: 160px;
    font-weight: 900;
    line-height: 231px;
    letter-spacing: -3px;
    text-transform: uppercase;
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
    margin-bottom: 67px;
    text-align: center;
    font-style: italic; }
  .contact-banner .form-contact {
    padding: 0 115px; }

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-contact .input-wrap {
    width: 50%;
    border: 2px solid #ed1d24;
    margin-bottom: -2px; }
    .form-contact .input-wrap label {
      display: none; }
    .form-contact .input-wrap input {
      width: 100%;
      padding: 0 32px;
      height: 104px;
      line-height: 104px;
      font-size: 64px;
      font-weight: 400;
      color: #fff;
      background: transparent;
      border: none;
      border-radius: 0; }
    .form-contact .input-wrap input::-webkit-input-placeholder {
      color: #ed1d24; }
    .form-contact .input-wrap input::-moz-placeholder {
      color: #ed1d24; }
    .form-contact .input-wrap input:-ms-input-placeholder {
      color: #ed1d24; }
    .form-contact .input-wrap input:-moz-placeholder {
      color: #ed1d24; }
  .form-contact .input-wrap:nth-child(2) {
    border-left-width: 0; }
  .form-contact .input-wrap-full {
    width: 100%;
    border-right-width: 2px; }
  .form-contact .input-wrap-submit {
    width: 100%; }
    .form-contact .input-wrap-submit .btn-default {
      width: 100%;
      cursor: pointer;
      border-color: #ed1d24;
      background: transparent;
      color: #fff; }
      .form-contact .input-wrap-submit .btn-default span:first-child {
        width: calc(100% - 160px);
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        text-align: left;
        padding-left: 30px; }
      .form-contact .input-wrap-submit .btn-default span {
        border-color: #ed1d24; }
      .form-contact .input-wrap-submit .btn-default:before {
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .form-contact .input-wrap-submit .btn-default:after {
        background: transparent; }
      .form-contact .input-wrap-submit .btn-default span:last-child {
        width: 160px; }
      .form-contact .input-wrap-submit .btn-default:hover:after {
        background: rgba(0, 0, 0, 0.7); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.contact-banner + .follow {
  padding-top: 180px; }

/*-----------------------------END-CONTACT-PAGE---------------------------------*/
/*-----------------------------LOCATIONS-PAGE---------------------------------*/
.locations-banner {
  padding: 215px 0 0;
  position: relative; }
  .locations-banner h1 {
    color: white;
    font-size: 160px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -3px;
    text-transform: uppercase;
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
    margin-bottom: -100px;
    text-align: center;
    font-style: italic;
    position: relative;
    z-index: 5; }
  .locations-banner figure img {
    width: 100%;
    border-radius: 160px 8px 160px 8px; }
  .locations-banner .bg:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.5)), to(black));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, black 100%); }
  .locations-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.location-info {
  position: relative;
  background: transparent;
  overflow: hidden;
  padding-bottom: 210px;
  z-index: 10;
  margin-bottom: -120px; }
  .location-info .title {
    margin: 114px 0 0;
    color: #a71718;
    font-size: 128px;
    font-weight: 900;
    line-height: 112px;
    letter-spacing: -3px;
    text-align: left;
    text-transform: uppercase; }
  .location-info .bg {
    bottom: 150px;
    background: #000;
    overflow: visible; }
    .location-info .bg:after {
      position: absolute;
      height: 300px;
      content: '';
      background: #000;
      -webkit-transform: rotate(-2.5deg);
              transform: rotate(-2.5deg);
      left: -15%;
      bottom: -90px;
      width: calc(100% + 30%); }

.location-info + .follow {
  padding-top: 185px; }

.accordion-item {
  margin-bottom: 125px; }

.accordion-item:last-child {
  margin-bottom: 0; }

.accordion .accordion-panel {
  display: none; }
.accordion .accordion-item:first-child .accordion-panel {
  display: block; }
.accordion .accordion-thumb {
  cursor: pointer; }
  .accordion .accordion-thumb h2 {
    color: #a71718;
    margin: 0; }
.accordion .accordion-panel .content {
  margin-top: 44px; }
.accordion .is-active h2 {
  color: #fff; }

/*----------------------------END-LOCATIONS-PAGE---------------------------------*/

/*# sourceMappingURL=styles.css.map */