@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1160px; } }
@media (max-width: 1600px) {
  .services-banner figure:after {
    right: calc((1160px - 100vw)/2); }

  .services-banner.full-img figure img {
    width: calc(100% + 100px); }

  .knowledge-banner.full-img figure img {
    width: calc(100% + 200px); }

  .block-404 {
    min-height: 650px; }

  .text-default-aside .aside {
    padding: 30px 25px 300px; } }
@media (max-width: 1399px) {
  .contact-block .text {
    padding-right: 60px; }

  .cases .nav-wrap {
    width: calc(100% - 40px);
    margin: 50px auto 0; }

  .services-banner figure:after {
    right: calc((1140px - 100vw) / 2); }

  .knowledge .item .text h6 {
    font-size: 25px;
    min-height: 65px; } }
@media (max-width: 1199px) {
  header .top-menu > ul {
    display: none !important; }

  .open-menu {
    margin: 10px 0 0 25px; }
    .open-menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 28px;
      height: 28px; }
      .open-menu a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff; }
      .open-menu a span + span {
        margin-top: 6px; }

  h1 {
    font-size: 40px;
    line-height: 1.3; }

  .home-banner h1 {
    height: 110px; }

  .btn-big {
    height: 48px;
    line-height: 46px;
    font-size: 16px; }

  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .menu-responsive .btn-wrap {
      display: none; }
    .menu-responsive:after {
      content: "";
      display: table;
      clear: both; }
    .menu-responsive .wrap {
      padding: 33px 30px 100px;
      width: 320px;
      float: right;
      background: #fff;
      min-height: 100vh; }
    .menu-responsive .btn-wrap {
      margin-top: 30px; }
    .menu-responsive .close-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px; }
      .menu-responsive .close-menu i {
        font-size: 18px;
        line-height: 1;
        color: #000; }
      .menu-responsive .close-menu a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px; }
    .menu-responsive .fancybox-close-small {
      display: none; }
    .menu-responsive .mob-menu-wrap {
      margin-bottom: 25px; }
      .menu-responsive .mob-menu-wrap > ul {
        display: block; }
        .menu-responsive .mob-menu-wrap > ul > li {
          margin-bottom: 10px;
          text-align: left; }
          .menu-responsive .mob-menu-wrap > ul > li > a {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .menu-responsive .mob-menu-wrap > ul > li > a i {
              font-size: 14px;
              margin-left: 10px; }
        .menu-responsive .mob-menu-wrap > ul > li > a {
          position: relative;
          padding-right: 25px; }
        .menu-responsive .mob-menu-wrap > ul > li .is-open i {
          -webkit-transform: rotate(-180deg);
                  transform: rotate(-180deg); }
        .menu-responsive .mob-menu-wrap > ul li:last-child {
          margin-bottom: 0; }
        .menu-responsive .mob-menu-wrap > ul li:first-child a:after {
          display: none; }
        .menu-responsive .mob-menu-wrap > ul .sub-menu {
          display: none;
          padding: 20px; }
          .menu-responsive .mob-menu-wrap > ul .sub-menu li {
            margin-bottom: 5px; }
            .menu-responsive .mob-menu-wrap > ul .sub-menu li > a {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; }
    .menu-responsive .logo-wrap {
      width: 120px;
      margin: 0 0 40px; }
      .menu-responsive .logo-wrap img {
        vertical-align: top;
        width: 100%; }

  .is-menu .menu-responsive {
    right: 0; }

  h2 {
    font-size: 36px; }

  .text-img figure {
    padding-left: 0; }

  .cards-slider-block, .knowledge-3x {
    margin-left: 12px;
    margin-right: 12px; }

  .cases {
    margin-left: 12px;
    margin-right: 12px; }

  .knowledge-slider-block {
    margin-left: 12px;
    margin-right: 12px; }

  .text-img {
    margin: 0; }

  .text-img.mb-290 {
    margin-bottom: 200px; }

  .text-img-revers figure {
    padding-left: 15px;
    padding-right: 0; }

  .cta-block .info-cta {
    padding: 40px 30px 0 0; }

  .cases blockquote {
    font-size: 24px;
    line-height: 1.5; }

  .cases-slider {
    width: 500px; }

  .cases .nav-wrap .pagination a {
    max-width: 20%; }
    .cases .nav-wrap .pagination a img {
      width: 100%; }

  .usp-block .info .wrap {
    left: -45px; }

  .usp-block .text {
    padding-right: 50px; }

  .contact-block .text {
    padding-right: 10px;
    padding-bottom: 145px; }

  .contact-block .form-wrap {
    padding: 0; }

  footer .footer-menu {
    grid-gap: 50px; }

  .form-cta .input-wrap input, .default-form .input-wrap input {
    height: 48px;
    line-height: 48px; }

  .services-banner figure:after {
    right: calc((960px - 100vw) / 2); }

  .faq figure {
    padding-left: 25px; }

  .faq figure .img img {
    width: 300px; }

  .services-banner h1 {
    font-size: 40px; }

  .services-banner p, .services-banner ul li {
    font-size: 18px; }

  .cards-slider-block {
    margin-top: 50px;
    margin-bottom: 50px; }

  .small-contact-block + .cards-slider-block {
    margin-top: 50px; }

  .knowledge .item {
    width: calc(50% - 8px); }

  .header-blue .open-menu a span {
    background: #002846; }

  .text-default h2 {
    font-size: 34px; }

  .text-default h3 {
    font-size: 28px; }

  .text-default .quote-block blockquote {
    font-size: 24px; }

  .contact-banner .wrap-bg h3 {
    font-size: 22px; }

  .contact-map .text {
    padding: 60px 30px 40px 50px; }

  .contact-banner h1 {
    font-size: 50px;
    height: auto !important; }

  .services-banner figure {
    min-height: 400px; }

  .text-default .content .form-wrap {
    padding: 25px; }

  .text-default .content .form-wrap h3 {
    font-size: 28px; } }
@media (max-width: 991px) {
  .home-banner .text {
    width: 100%; }

  .home-banner figure {
    width: 100%; }

  .home-banner .item {
    width: 100%; }

  .home-banner .bottom {
    grid-gap: 45px; }

  .text-img figure {
    padding: 0;
    max-width: 500px;
    margin: auto; }

  .text-img-revers .text {
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 30px; }

  .text-img.bg-lightblue {
    padding-top: 50px; }

  .cards-slider-block {
    margin-top: 50px;
    margin-bottom: 50px; }

  .cta-block .info-cta {
    width: 100%;
    padding: 30px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }

  .cta-block .img-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .cases .bg:before {
    width: 100%; }

  .cases {
    padding-top: 50px; }

  .cases-slider {
    width: 100%; }

  .cases .bg img {
    display: none; }

  .cases-slider .swiper-slide figure {
    display: block;
    margin-bottom: 30px; }
    .cases-slider .swiper-slide figure img {
      width: 100%;
      border-radius: 13px; }

  .mb-290 {
    margin-bottom: 220px; }

  .cases {
    margin-bottom: 40px; }

  .usp-block .info {
    margin: 50px auto 0;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .usp-block .info .wrap {
    top: 0;
    left: 0; }

  .contact-block .row {
    padding: 30px;
    margin: 0; }

  .contact-block .text {
    padding: 0 0 30px; }

  .contact-block .wrap {
    padding-bottom: 170px; }

  footer {
    padding: 50px 0 30px; }

  footer .footer-menu {
    margin-top: 30px; }

  footer .bottom-left {
    margin-bottom: 20px; }

  .text-img .text {
    padding-right: 12px; }

  footer .item h6 a:hover {
    color: #fff; }

  .seo-block .bg .img-2 {
    width: 75px;
    left: 0; }

  .seo-block .content {
    padding-top: 120px; }

  .seo-block .bg .img-1 {
    width: 200px; }

  .small-contact-block .icon-wrap {
    width: 40px; }
    .small-contact-block .icon-wrap img {
      width: 100%; }

  .small-contact-block .text {
    padding: 41px 70px 35px 20px; }

  .small-contact-block .contact-list {
    grid-gap: 10px; }

  .services-banner figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px; }

  .services-banner.figure-bg figure:after {
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0; }

  .services-banner .btn-scroll {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

  .services-banner .quick-links {
    position: relative;
    right: 0;
    bottom: 0;
    margin: auto; }

  .services-banner.full-img figure img {
    width: 100%;
    left: 0;
    border-radius: 20px; }

  .services-banner.full-img .quick-links {
    margin-top: -100px; }

  .card-icon-block .item {
    width: calc(50% - 8px); }

  .card-icon-block .content {
    grid-gap: 50px 16px; }

  .text-img-4x figure {
    margin-top: 40px; }

  .small-contact-block + .cases {
    margin-top: 50px; }

  .cases .nav-wrap .pagination a h6, .cases .nav-wrap .pagination a p {
    font-size: 12px; }

  .services-banner .text {
    padding-right: 12px; }

  .knowledge-banner .text {
    margin-bottom: 50px; }

  .knowledge-banner .filter-block {
    padding: 0 0 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.25); }
    .knowledge-banner .filter-block:after {
      display: none; }

  .knowledge-banner .search-block {
    padding: 0; }

  .knowledge .item .text {
    padding: 25px 15px 20px; }

  .cta-block .img-wrap figure {
    position: relative; }
    .cta-block .img-wrap figure img {
      position: relative;
      -o-object-position: center;
         object-position: center; }

  .cta-block .img-wrap {
    min-height: auto;
    height: 270px; }

  .knowledge-3x .item:nth-child(3) {
    display: none; }

  .contact-banner .wrap-bg .top {
    padding: 20px 40px 20px 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .text-default-aside .left {
    width: 100%;
    margin-bottom: 30px; }

  .text-default-aside .aside {
    width: 100%;
    position: relative !important;
    top: 0 !important; }

  .text-default {
    padding: 35px 0 50px; }

  .block-404 .bg .img {
    width: 70px; }

  .block-404 .bg .img-1 {
    left: 0; }

  .block-404 .bg .img-2 {
    right: 0; }

  .block-404 .bg {
    bottom: 0; }

  .block-404 h1 {
    font-size: 40px; } }
@media (max-width: 767px) {
  .nav-wrap .swiper-pagination {
    display: none; }

  .services-banner.img-w-550 figure img {
    max-width: 100%;
    left: 0; }

  .nav-wrap .swiper-button-next {
    margin-left: 20px; }

  .knowledge-slider .swiper-slide .text h6 {
    font-size: 24px;
    min-height: 63px; }

  .usp-block .info {
    padding: 0; }

  footer .footer-menu {
    padding-right: 12px; }

  footer .footer-menu {
    grid-gap: 15px; }

  footer .bottom-right ul {
    padding: 0; }

  .text-img figure {
    padding: 0 12px;
    margin-top: 30px; }
    .text-img figure .img img {
      max-width: calc(100% - 75px); }

  .text-img figure .after {
    margin-bottom: -20px; }
    .text-img figure .after img {
      width: 100px; }

  .home-banner .bg {
    border-radius: 0 0 13px 13px; }

  .cases .nav-wrap .pagination {
    display: none; }

  .cases .nav-wrap {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }

  .cases .nav-wrap .swiper-button-prev {
    left: 0; }

  .cases .nav-wrap .swiper-button-next {
    right: 0; }

  .cases .nav-wrap {
    max-width: 130px; }

  .usp-block {
    padding: 40px 0; }

  .text-form {
    width: 100%;
    margin-top: 30px; }

  .default-form .input-wrap-submit .btn-default {
    width: 100%; }

  header .btn-wrap {
    display: none !important; }

  .menu-responsive .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 20px; }
    .menu-responsive .btn-wrap a {
      width: 100%; }

  .small-contact-block .content figure {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px; }

  .small-contact-block .content {
    padding: 0; }

  .small-contact-block .text {
    padding: 20px 70px 35px 20px; }

  .text-img-4x figure .img img {
    max-width: 100%; }

  .knowledge-banner figure {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content; }

  .knowledge .item {
    width: 100%; }

  .services-banner figure {
    min-height: auto; }

  .img-full-slider .swiper-slide img {
    height: 350px; }

  .text-default .download-block .wrap {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }

  .text-default .download-block .form-wrap {
    width: 100%;
    margin-top: 20px; }

  .text-default .download-block .text-form {
    width: 100%; }

  .cases h2, .cases h3 {
    padding: 0; }

  h3 {
    font-size: 28px;
    line-height: 1.25; }

  h2 {
    font-size: 32px; }

  .seo-block h2 {
    font-size: 32px;
    line-height: 1.3; } }
@media (max-width: 575px) {
  header .btn-wrap {
    display: none !important; }

  .home-banner figure {
    max-width: 320px;
    margin: auto; }

  .home-banner .img-1 {
    height: 159px; }

  .home-banner figure .center {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-width: 5px;
    margin-top: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 18px; }

  .home-banner .img-3 {
    height: 159px; }

  .home-banner .item .info {
    width: 100%;
    margin-bottom: 30px; }

  .home-banner .item ul {
    width: 100%;
    padding: 0; }
    .home-banner .item ul:before {
      display: none; }

  .tabs-menu li {
    font-size: 16px;
    height: 48px; }

  .cards-slider-block {
    padding: 50px 0;
    border-radius: 13px; }

  .cards-slider .swiper-slide {
    width: 290px; }

  .cards-slider-block .btn-wrap {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    grid-gap: 15px; }

  .cards-slider .swiper-slide .text {
    padding: 15px; }

  .text-img {
    border-radius: 13px; }

  .cta-block-wrap {
    margin-top: 90px; }

  .cta-block {
    border-radius: 13px; }

  .form-cta .input-wrap {
    width: 100%; }

  .form-cta .input-wrap-submit {
    margin: 0;
    width: 100%; }

  .cases {
    border-radius: 13px; }

  .usp-block .info .wrap {
    width: 320px;
    margin: auto;
    grid-gap: 10px;
    height: 320px; }

  .usp-block .info .item {
    width: 155px;
    height: 155px;
    padding: 20px; }

  .usp-block .info .item .number {
    font-size: 40px; }

  .usp-block .info .item p {
    font-size: 16px; }

  .usp-block .info .center {
    width: 70px;
    height: 70px;
    border-width: 10px; }

  .knowledge-slider-block {
    border-radius: 13px; }

  .knowledge-slider-block {
    padding: 50px 0;
    margin: 30px 12px; }

  .knowledge-slider .swiper-slide {
    width: 290px; }

  .knowledge-slider .swiper-slide .text {
    padding: 15px; }

  .contact-block {
    padding: 30px 0; }

  .contact-block .bg {
    border-radius: 13px; }

  .contact-block .row {
    padding: 20px 10px; }

  .default-form .input-wrap {
    width: 100%; }

  footer {
    border-radius: 13px 13px 0 0; }

  footer .item {
    width: 100%; }
    footer .item ul {
      display: none; }
    footer .item h6 {
      text-align: center; }
      footer .item h6 span {
        position: relative;
        display: inline-block;
        margin-left: 5px; }
        footer .item h6 span:after {
          content: '\f078';
          font-size: 12px;
          color: #fff;
          line-height: 1;
          font-family: "Font Awesome 6 Pro";
          position: relative;
          top: -2px; }

  footer .bottom-left {
    margin-bottom: 10px; }

  footer .bottom-right ul {
    grid-gap: 10px; }

  footer .item ul li {
    text-align: center; }

  footer .item .is-open span {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1); }

  footer .bottom {
    margin: 40px 0 0;
    padding: 20px 12px 0; }

  .knowledge-slider .swiper-slide .text h6 {
    min-height: 94px; }

  .cards-slider .swiper-slide .text h6 {
    min-height: 63px; }

  .seo-block .content {
    padding: 120px 12px 0; }

  .seo-block .bg .img-2 {
    left: 12px; }

  .services-banner .quick-links {
    max-width: 100%; }

  .services-banner.full-img .quick-links {
    margin-top: -50px; }

  .card-icon-block .item {
    width: 100%; }

  .card-icon-block {
    margin: 30px 0; }

  .text-img-4x figure {
    width: 320px; }

  .text-img-4x figure .img {
    height: 159px; }

  .text-img-4x figure .center {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-width: 5px;
    margin-top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 18px; }

  .knowledge-banner .bottom-form-block .wrap {
    padding: 20px; }

  .form-filter {
    grid-gap: 10px 5px; }

  .form-search input {
    width: 100%; }

  .form-search .btn-default {
    width: 100%; }

  .form-search {
    grid-gap: 10px; }

  .knowledge-3x .item:nth-child(3) {
    display: block; }

  .text-default .quote-block {
    display: block !important; }

  .text-default .quote-block .text {
    width: 100%;
    padding: 20px 30px 20px 30px; }

  .text-default .quote-block .icon-wrap {
    width: 20px;
    height: 20px;
    font-size: 12px;
    left: 86px;
    top: 10px; }

  .text-default .quote-block blockquote {
    font-size: 22px; }

  .text-default .quote-block figure {
    width: 100px;
    height: 150px;
    float: left;
    margin: 0 15px 5px 0; }

  .bottom-link {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }

  .knowledge-3x .bg img {
    display: none; }

  .knowledge-3x {
    padding: 50px 0; }

  footer .bottom {
    max-width: 100%; }

  .contact-banner {
    padding-top: 110px; }

  .contact-banner .wrap-bg .top .img-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 30px; }
    .contact-banner .wrap-bg .top .img-wrap img {
      border-radius: 15px; }

  .contact-banner .wrap-bg .top {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .contact-banner .form-wrap {
    padding: 20px; }

  .contact-map .text {
    padding: 20px; }

  .contact-map p {
    font-size: 16px;
    line-height: 20px; }

  .contact-banner h1 {
    font-size: 40px; }

  .home-banner p {
    font-size: 18px; }

  .knowledge {
    padding: 50px 0 50px; }

  .text-default-aside .aside {
    padding: 25px 20px 300px; }

  .text-default .content .form-wrap {
    margin: 40px 0; }

  .block-404 .bg .img-1 {
    left: 12px;
    top: 60px; }

  .block-404 .bg .img-2 {
    right: 12px; }

  .block-404 p {
    font-size: 16px; } }

/*# sourceMappingURL=responsive.css.map */